

body {
    background-color: rgba(216, 224, 235, 0.31);
     margin-top: 50px;
 }
 
 
 
 input {
     border: none;
 }
 
 ul {
     padding: 0;
 }
 
 ul li{
     border: 1px solid rgba(128, 128, 128, 0.58);
     list-style: none;
     padding: 10px;
 }
 
 h1 {
     text-align: center;
     color: rgb(45, 147, 236);
 } 
 